body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  border-style: double dashed double dashed;
  background-size: 1000px 80 auto;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1.title {
  padding: 0 30px 30px 0; text-decoration: underline; color: navy;
}
h2 {
	font-style: italic;
}
h3 {
	font-style: italic;
}
#indent {
	text-indent: 10px;
}
img {
	width: 175px; text-indent: 10px; 
}
#bigpic {
  width: 250px;
}
#underline {
	text-decoration: underline;
}
#caps {
	text-transform: uppercase; font-weight: bold;
}
#orange {
	color: purple;
}
.navbar-inverse .navbar-nav>li>a {
    color: orange;
    }
.top-margin {
	margin-top: 50px
}